{% extends 'base.html' %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        
        <div class="col-4">{% for image in posts%}
            <div class="img">
                <div class="profile d-flex">
                    <img src="{{user.ppic.url }}" alt="" height="30" width="30" class="rounded-circle m-2">
                    <p class="m-2 fw-bold">{{image.user.username}}</p>
                </div>
                <img src="{{image.image.url}}" alt="" height="100%" width="100%">
                <div class="icon">
                    <i class="bi bi-heart fs-2"></i>
                    <i class="bi bi-chat fs-2"></i>
                    <i class="bi bi-send fs-2"></i> 
                    <i class="bi bi-bookmark fs-2 float-end"></i> 
                    <p class="fw-bold">0 likes</p>
                    <p>{{image.caption}}</p>
                    <div class="form">
                        <form action="">
                            <input type="textarea" placeholder="Add a comment">
                            <button type="submit" class="btn btn-outline-primary">Post</button>
                        </form>
                    </div>
                </div>
            </div>{% endfor %}
        </div>
        
        <div class="col">
            <div class="profile d-flex">
                <img src="{{ profile.ppic.url }}" alt="" height="30" width="30" class="rounded-circle m-2">
                <p class="m-2 fw-bold">{{user.username}}</p>
            </div>
            <div class="suggestion">
                <h5>Suggestions for you</h5>
                <div class="profile d-flex gap-3">
                    <img src="{{ profile.ppic.url }}" alt="" height="30" width="30" class="rounded-circle">
                    <p class="fw-bold">{{user.username}}</p>
                    <button class="btn btn-primary btn-sm"> follow</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}