{% extends 'base.html' %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-4">
            <div class="img">
                <div class="profile d-flex">
                    <img src="{{ profile.ppic.url }}" alt="" height="30" width="30" class="rounded-circle m-2">
                    <p class="m-2 fw-bold">{{user.username}}</p>
                </div>
                <img src="https://github.com/mdo.png" alt="" height="100%" width="100%">
                <div class="icon">
                    <i class="bi bi-heart fs-2"></i>
                    <i class="bi bi-chat fs-2"></i>
                    <i class="bi bi-send fs-2"></i> 
                    <i class="bi bi-bookmark fs-2 float-end"></i> 
                    <p class="fw-bold">0 likes</p>
                    <p>captions Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus corrupti iure a est soluta repudiandae iusto laboriosam harum accusantium sunt.</p>
                    <div class="form">
                        <form action="">
                            <input type="textarea" placeholder="Add a comment">
                            <button type="submit" class="btn btn-outline-primary">Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h1>hi</h1>
        </div>
    </div>
</div>

{% endblock %}